:local(.component) {
  // width: 500px;

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

  td, th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(odd) {
      background-color: #dddddd;
  }
}